__pycache__/
.pytest_cache/

bronze/
bronze_raw/
/silver/
gold/

data/

.env
test_data.json

metastore_db/
spark-warehouse-dev/
spark-warehouse/
shared-jars/
plugins/
derby.log

note.txt

logs/

target/
dbt_packages/
**/example/

csv/

# Airflow local database
airflow.db
airflow.cfg

# Airflow logs
logs/
*.log

# SQLite database for testing
*.sqlite

# Airflow authentication
simple_auth_manager_passwords.json.generated
